<div class="text-center mt-3 mb-3">
  <form>
      <input
          #aqui
          class="rounded"
          type="search"
          placeholder="search..."
          autofocus
          (keyup)="onKey($event)"
          >
  </form>
</div>
<!-- {{values | uppercase}} -->
<app-photos [photos]="photos | filterByDescription: values"></app-photos>

<div class="col-md-6">

  <ap-photo
  *ngFor="let photo of photosApi"
  [url]= "photo.url"
  [description]= "photo.id"
  ></ap-photo>
  <!-- <ap-photo
  *ngFor="let photo of photos"
  [url]= "photo.url"
  [description]= "photo.id"
  ></ap-photo> -->
</div>
